.gradle/
.idea/
.vscode/
build/
**/build/
run/
**/run/
quilt/*/.gradle/
publish/
**/publish/
!.github/actions/publish/
!.github/actions/publish/**
/net/
net/
!src/**/net/
!src/**/net/**

*.log
*.log.gz
*.class
__pycache__/
*.py[cod]

out/
*.iml
